@font-face {
	font-family: iransansx;
	font-style: normal;
	font-weight: 100;
	src: url('../../assets//fonts/global/iransansx/woff/thin.woff') format('woff'),   
	url('../../assets/fonts//global//iransansx/woff2/thin.woff2') format('woff2');		
}

@font-face {
	font-family: iransansx;
	font-style: normal;
	font-weight: 200;
	src: url('../../assets//fonts/global/iransansx/woff/UltraLight.woff') format('woff'),   
	url('../../assets/fonts//global//iransansx/woff2/UltraLight.woff2') format('woff2');	
}

@font-face {
	font-family: iransansx;
	font-style: normal;
	font-weight: 300;
	src: url('../../assets//fonts/global/iransansx/woff/light.woff') format('woff'),   
	url('../../assets/fonts//global//iransansx/woff2/light.woff2') format('woff2');		 
}

@font-face {
	font-family: iransansx;
	font-style: normal;
	font-weight: 500;
	src: url('../../assets//fonts/global/iransansx/woff/medium.woff') format('woff'),   
	url('../../assets/fonts//global//iransansx/woff2/medium.woff2') format('woff2');		 
}

@font-face {
	font-family: iransansx;
	font-style: normal;
	font-weight: 600;
	src: url('../../assets//fonts/global/iransansx/woff/demibold.woff') format('woff'),   
	url('../../assets/fonts//global//iransansx/woff2/demibold.woff2') format('woff2');	 
}

@font-face {
	font-family: iransansx;
	font-style: normal;
	font-weight: 800;
	src: url('../../assets//fonts/global/iransansx/woff/extrabold.woff') format('woff'),   
	url('../../assets/fonts//global//iransansx/woff2/extrabold.woff2') format('woff2');		 
}

@font-face {
	font-family: iransansx;
	font-style: normal;
	font-weight: 900;
	src: url('../../assets//fonts/global/iransansx/woff/black.woff') format('woff'),   
	url('../../assets/fonts//global//iransansx/woff2/black.woff2') format('woff2');		 
}

@font-face {
	font-family: iransansx;
	font-style: normal;
	font-weight: bold;
	src: url('../../assets//fonts/global/iransansx/woff/bold.woff') format('woff'),   
	url('../../assets/fonts//global//iransansx/woff2/bold.woff2') format('woff2');	 
}

@font-face {
	font-family: iransansx;
	font-style: normal;
	font-weight: normal;
	src: url('../../assets//fonts/global/iransansx/woff/regular.woff') format('woff'),   
	url('../../assets/fonts//global//iransansx/woff2/regular.woff2') format('woff2');	
}


