@import '_tailwind';
@import '_reset';

// set font / scrollbar style / change bg color / overflow-x hidden
body {
  direction: rtl;
  font-family: 'iransansx';
  font-weight: 400;
  background-color: #fff;
  overflow-x: hidden;
  color: #000;
  &::-webkit-scrollbar {
    width: 5px;
    @media (min-width: 1024px) {
      width: 7px;
    }
  }
  &::-webkit-scrollbar-track {
    background: #ececec;
  }
  &::-webkit-scrollbar-thumb {
    background: #acabab;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #969696;
  }
}

// for hide scrollbar
.disable-scroll_scrollbar-is-visible {
  overflow-y: hidden;
  padding-right: 5px;
  @media (min-width: 1024px) {
    padding-right: 7px;
  }
}
.disable-scroll_scrollbar-is-not-visible {
  overflow-y: hidden;
}

// fix footer to bottom in not scrolled y position
body {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 1px);
}
main {
  flex: 1;
}

// disable background blue after click
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// scroll smoosh
html {
  scroll-behavior: smooth !important;
}

// minimal scrollbar
.minimal-scrollbar {
  overflow-y: auto;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: #eeeeee;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #dddcdc;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #cbcbcb;
  }
}

// toast
.Toastify {
  .Toastify__toast-body {
    font-family: 'dana';
    font-size: 15px;
  }
  .Toastify__close-button--light {
    margin: auto 0;
    padding: 6px;
    display: flex;
    align-items: center;
  }
  .Toastify__toast {
    border-radius: 5px;
  }
}