@import '_tailwind';
@import '_reset';

// set font / scrollbar style / change bg color / overflow-x hidden
body {
  direction: rtl;
  font-family: 'iransansx';
  font-weight: 400;
  background-color: #fff;
  overflow-x: hidden;
  color: #000;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #d2d1d1;
  }
  &::-webkit-scrollbar-thumb {
    background: #acabab;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #969696;
  }
}

// fix shake screen after overflow-y-hidden
html {
  scrollbar-gutter: stable;
}

// fix footer to bottom in not scrolled y position
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

// scroll smoosh
html {
  scroll-behavior: smooth !important;
}

// minimal scrollbar
.minimal-scrollbar {
  overflow-y: auto;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: #eeeeee;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #dddcdc;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #cbcbcb;
  }
}