// hero-slider customize pagination
#hero_slider {
  #hero-slider_pagination {
    direction: ltr;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 24px;
    .swiper-pagination-bullet {
      background-color: rgba($color: #fff, $alpha: 0.4);
      transition: all 0.3s;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      position: relative;
      width: 25px;
      border-radius: 10px;
      &::after {
        animation: pagination-progess 3s normal forwards;
        border-radius: 10px;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 8px;
        background-color: #fff;
        @keyframes pagination-progess {
          0% {
            width: 0%;
          }
          100% {
            width: 100%;
          }
        }
      }
    }
  }
}

// top-categories customize scroll-x-bar
#top-categories {
  &::-webkit-scrollbar {
    height: 6px;
  }
  &::-webkit-scrollbar-button {
    width: 70px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 12px;
    border: 0;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
    border: 0;
  }
}

// mobile-brand-slider customize navigation
#mobile-brand-slider {
  .swiper-button-disabled {
    opacity: 0 !important;
    visibility: hidden !important;
  }
  .swiper-button-prev {
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    background: #ffffff;
    box-shadow: 0px 0px 10px #00000014;
    height: 39px;
    width: 39px;
    display: flex;
    border-radius: 10px;
    right: 0;
    top: 80px;
    @media (min-width: 1024px) {
      top: 120px;
    }
    &::after {
      font-size: 14px;
      font-weight: 600;
      color: #5d6670;
      padding-left: 4px;
    }
  }
  .swiper-button-next {
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    background: #ffffff;
    box-shadow: 0px 0px 10px #00000014;
    height: 39px;
    width: 39px;
    display: flex;
    border-radius: 10px;
    left: 0;
    top: 80px;
    @media (min-width: 1024px) {
      top: 120px;
    }
    &::after {
      font-size: 14px;
      font-weight: 600;
      color: #5d6670;
      padding-right: 2px;
    }
  }
  &:hover {
    .swiper-button-next,
    .swiper-button-prev {
      visibility: visible;
      opacity: 1;
    }
  }
}
