// hero-slider [navigation, pagination] style
#hero_slider {
  // pagination
  #hero-slider_pagination {
    direction: ltr;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 24px;
    .swiper-pagination-bullet {
      background-color: rgba($color: #fff, $alpha: 0.4);
      transition: all 0.3s;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      position: relative;
      width: 25px;
      border-radius: 10px;
      &::after {
        animation: pagination-progess 3s normal forwards;
        border-radius: 10px;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 8px;
        background-color: #fff;
        @keyframes pagination-progess {
          0% { width: 0%; }
          100% { width: 100%; }
        }
      }
    }
  }
}
